<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/payments/employees" method="post">
        <div>
            <input type="text" name="firstName" title="First Name" value="<%= locals.firstName %>" />
            <input type="text" name="lastName" title="Last Name" value="<%= locals.lastName %>" />
            <input type="number" name="val" title="Value" value="<%= locals.value %>" />
        </div>
        <div>
            <button type="submit">Add</button>
        </div>
    </form>
</body>
</html>